$color: #14805e;

.c-tab-content {
  display: none;
  width: 100%;
  position: absolute;

  &--active {
    display: flex;
  }

  &__item {
    padding: 1rem;

    &:not(:last-child) {
      border-right: .5px $color dotted;
    }
  }
}
