$color: #14805e;

body, html {
  margin: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

.o-flex {
  display: flex;
}

.o-column {
  flex-direction: column;
}

.o-row {
  flex-direction: row;
}

.o-flex-1 {
  flex: 1;
}

.o-flex-center {
  align-items: center;
}

#root {
  height: 100%
}

/**
 * 1. 50px header + 10px margin
 */
.main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 5% 20%;
  background: url('../assets/images/bg.jpg') no-repeat;

  h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
  }
}
